<!DOCTYPE html>
<html lang="en">
<head>
    <title>Delete Wishlist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
    <h1>Delete Wishlist</h1>
    <form action="{{ url_for('delete') }}" method="POST">
        <label for="username" style="display: block; margin-bottom: 10px;">Enter Username to Delete:</label>
        <input type="text" name="username" required>
        
        <button type="submit" style="background-color: red;">Delete</button>
    </form>

    {% if no_record %}
        <p style="color: red;">{{ msg }}</p>
    {% elif deleted %}
        <p style="color: green;">{{ msg }}</p>
    {% endif %}
    
    <a href="{{ url_for('main') }}">Back to Home</a>
</div>
</body>
</html>
